{% include "header.html" %}

<div class="container">
    <h1>Welcome to the offers search page</h1>
    <h2>To login/logout use the following links:</h2>
    <ul>
        <li>
            <a href="{{ url_for("login") }}" class="btn btn-info">Login</a>
        </li>
        <br>
        <li>
            <a href="{{ url_for("logout") }}" class="btn btn-info">Logout</a>
        </li>
    </ul>
    <h3>To see the graph use the following button:</h3>
    <a href="{{ url_for('graph') }}" class="btn btn-secondary">Graph</a>
    <h3>To see the statistics use the following button:</h3>
    <a href="{{ url_for('statistics') }}" class="btn btn-secondary">Statistics</a>
    <h3>To see the database offers use the following button:</h3>
    <a href="{{ url_for('get_offers') }}" class="btn btn-secondary">Show offers</a>
    <h3>To search for the specific model of the car use the following button:</h3>
    <a href="{{ url_for('brand_search') }}" class="btn btn-secondary">Brand search</a>
    <br>
    <br>
    <br>
    <h5>
    {% include "flashes.html" %}
    </h5>
</div>

{% include "footer.html" %}